.container {
  display: grid;
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  justify-content: center;
  align-items: center;
}

.strip {
  margin: 0.5rem;
  padding: 0.5rem 1rem;
  background: rgba(255, 255, 255, 0.85);
  border-radius: 5px;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  backdrop-filter: blur(10px) saturate(180%);
}