.ql-container.ql-snow {
  border: none !important;
  font-family: system-ui, sans-serif;
  font-size: 1rem;
  background: #FFF;
}

.ql-toolbar.ql-snow {
  border-width: 0 0 1px 0 !important;
  border-bottom: solid #f4f4f4 !important;
  background: #FFF;
}

.ql-container .ql-editor {
  min-height: 300px;
}

