.ql-container.ql-snow {
  border: none !important;
  font-family: system-ui, sans-serif;
  font-size: 1rem;
  background: #FFF;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
}

.ql-toolbar.ql-snow {
  border-width: 0 0 1px 0 !important;
  border-bottom: solid #f4f4f4 !important;
  background: #FFF;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}

.ql-container .ql-editor {
  min-height: 300px;
}

.ql-tooltip.ql-editing, .ql-picker-options {
  border-radius: 3px;
  border: none !important;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  z-index: 10;
}

.ql-picker-label[aria-expanded=true] {
  border-color: #EEE !important;
}

.ql-tooltip.ql-editing input {
  border: none !important;
  background: #EEE;
  outline: none;
}