.container {
  display: block;
  position: fixed;
  right: 0;
  top: 0;
}

.group {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

@keyframes item-slide-in {
  0% {
    opacity: 0;
    transform: translateX(50%) translateY(20%) scale(0.95);
  }
  100% {
    opacity: 1;
    transform: translateX(0) translateY(0) scale(1);
  }
}

.item {
  display: inline-block;
  margin: 0.5rem;
  max-width: 300px;
  border: 1px solid rgba(0, 0, 0, 0.05);
  background: rgba(255, 255, 255, 0.3);
  backdrop-filter: blur(20px) saturate(180%);
  padding: 0.3rem 0.6rem;
  border-radius: 5px;

  animation: item-slide-in 300ms ease both;
}